
@font-face {
    font-family: 'Fors Trial';
    src: url('../fonts/TTForsTrial-DmBd.eot');
    src: url('../fonts/TTForsTrial-DmBd.eot') format('embedded-opentype'),
        url('../fonts/TTForsTrial-DmBd.woff2') format('woff2'),
        url('../fonts/TTForsTrial-DmBd.woff') format('woff'),
        url('../fonts/TTForsTrial-DmBd.ttf') format('truetype'),
        url('../fonts/TTForsTrial-DmBd.svg') format('svg');

}

@font-face {
    font-family: 'Fors Trial Rg';
    src: url('../fonts/TTForsTrial-Rg.eot');
    src: url('../fonts/TTForsTrial-Rg.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTForsTrial-Rg.woff2') format('woff2'),
        url('../fonts/TTForsTrial-Rg.woff') format('woff'),
        url('../fonts/TTForsTrial-Rg.ttf') format('truetype'),
        url('../fonts/TTForsTrial-Rg.svg#TTForsTrial-Rg') format('svg');

}

@font-face {
    font-family: 'Neoris Trial';
    src: url('../fonts/TTNeorisTrial-DmBd.eot');
    src: url('../fonts/TTNeorisTrial-DmBd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNeorisTrial-DmBd.woff2') format('woff2'),
        url('../fonts/TTNeorisTrial-DmBd.woff') format('woff'),
        url('../fonts/TTNeorisTrial-DmBd.ttf') format('truetype'),
        url('../fonts/TTNeorisTrial-DmBd.svg#TTNeorisTrial-DmBd') format('svg');
    
}